@page
@model SpaExampleModel
@attribute [Microsoft.AspNetCore.Razor.Hosting.RazorCompiledItemMetadata("RouteTemplate", Urls.SpaUrl)]
@{
    ViewData["Title"] = "Spa Example";
}

@section HeadSection {
    <script defer src="~/build/spaexample.js" asp-append-version="true"></script>
}

<div id="loading" class="container min-vh-100">
    <div class="text-center" style="margin-top: 100px">
        <div class="spinner-grow text-secondary" style="width: 10rem; height: 10rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

