//
// https://github.com/marella/material-design-icons/tree/main/font
// https://fonts.google.com/icons
// https://marella.me/material-design-icons/demo/font/
//
@import "../../node_modules/@material-design-icons/font/index";

// https://icons.getbootstrap.com/
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
