@import "bootstrap";

// component styles
@import "../lib/_styles";

// custom styles
/*
.fs-smaller {
    font-size: smaller;
}
.btn-xsm {
    --bs-btn-padding-y: 0.02rem;
    --bs-btn-padding-x: 0.2rem;
    --bs-btn-font-size: 0.75rem;
    --bs-btn-border-radius: 0.25rem;
}
*/