@*<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - SvelteRazorAspNet - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>*@

@*<footer id="footer" class="bg-dark text-light py-5">
    <div class="container py-5">
        <div class="row">

            <div class="col-6 col-md-6 col-lg-3 mb-2">
                <h6 class="text-uppercase">Open source tools</h6>
                <ul class="nav flex-column">
                    <li>
                        <a class="text-white" target="ext" rel="nofollow" href="/norm.net">Norm.net</a>
                        <a class="icon-github-circled no-decoration" target="_blank" rel="nofollow" href="https://github.com/vb-consulting/Norm.net"></a>
                    </li>
                    <li>
                        <a class="text-white" target="ext" rel="nofollow" href="https://github.com/vb-consulting/PgRoutiner">PgRoutiner</a>
                        <a class="icon-github-circled no-decoration" target="_blank" rel="nofollow" href="https://github.com/vb-consulting/PgRoutiner"></a>
                    </li>
                    <li>
                        <a class="text-white" target="ext" rel="nofollow" href="https://github.com/vb-consulting/PgComment">PgComment</a>
                        <a class="icon-github-circled no-decoration" target="_blank" rel="nofollow" href="https://github.com/vb-consulting/PgComment"></a>
                    </li>
                    <li>
                        <a class="text-white" target="ext" rel="nofollow" href="/pgcode">pgcode</a>
                        <a class="icon-github-circled no-decoration" target="_blank" rel="nofollow" href="https://github.com/vb-consulting/pgcode"></a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-12 col-lg-6 mb-2">
                <h6 class="text-uppercase">If you are using some of these, you may consider a small donation it will be greatly appreciated</h6>
                <div>
                    by <a href="https://www.paypal.me/vbsoftware/5" target="_blank">buying me a beer</a>
                    or by <a href="https://www.paypal.me/vbsoftware/10" target="_blank">buying me a pizza</a>
                </div>
                <div>or, if you prefer bitcoin</div>
                <div style="text-decoration: underline;word-break: break-all;">
                    bitcoincash:qp93skpzyxtvw3l3lqqy7egwv8zrszn3wcfygeg0mv
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-2 commercial-fotter-box">
                <h6 class="text-uppercase">Require software development consultancy?</h6>
                <h6 class="text-uppercase">Need software development work?</h6>
                <h6 class="text-uppercase">Interested in sponsorship?</h6>
                <div>
                    Send me an email at <a href="mailto: vbilopav@gmail.com">vbilopav@gmail.com</a>
                </div>
            </div>
        </div>

    </div>
</footer>*@

<footer class="footer mt-auto py-3 bg-light">
    <div class="container py-5">
        <span class="text-muted">
            &copy; 2021 - RazorSvelte - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </span>
    </div>
</footer>