<!DOCTYPE html public>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorSvelte</title>
    <partial name="_ThemeLink" />
    @await RenderSectionAsync("HeadSection", required: false)
</head>
<body class="d-flex flex-column h-100">
    @*
        These hiddens are needed by the header component on each page.
        Display basic login info in the header and make urls available to the client.
    *@
    <input id="isSigned" type="hidden" value="@User?.Identity?.IsAuthenticated.ToString().ToLower()" />
    <input id="email" type="hidden" value="@User?.Identity?.Name" />
    <input id="urls" type="hidden" value='@Html.Raw(Urls.Json)' />
    <input id="theme-key" type="hidden" value='@Consts.ThemeKey' />
    
    @RenderBody()
</body>
</html>