<div id="loading" class="container-fluid" style="margin-top: 10%">
    <div class="text-center">
        <div class="spinner-border fs-1" style="width: 10rem; height: 10rem;">
        </div>
    </div>
</div>