.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

.cs
.csproj
.dll
.git
.idea
.vs
.vscode
appsettings.*
appsettings.*.*
*.deps.json
.dll
.pdb
.exe
.xml
obj
bin
/obj
/bin
/Pages
/Scripts
/wwwroot
